body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
}

.word {
    font-size: 50px;
    cursor: pointer;
    background: -webkit-linear-gradient(white, black);
    -webkit-background-clip: text;
    color: transparent;
    transition: font-size 0.8s ease;
}

.circle-animation {
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    pointer-events: none;
}
