body {
    margin: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(60deg, #141E30, #243B55);
    animation: gradientWave 6s infinite alternate;
}

@keyframes gradientWave {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

#word {
    font-size: 50px;
    cursor: pointer;
    color: #00FFFF;
    text-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 30px #00FFFF;
    user-select: none;
}

.circle-animation {
    position: absolute;
    background: rgba(0, 255, 255, 0.2);
    border-radius: 50%;
    animation: waveEffect 2s infinite alternate;
    box-shadow: 0 0 10px #00FFFF, 0 0 20px #00FFFF, 0 0 30px #00FFFF;
}

@keyframes waveEffect {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1.05);
    }
    100% {
        transform: scaleY(1);
    }
}
